
/* General Section */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link,
a:hover,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.5rem;
}

img {
    max-width: 600px;
}

body > * {
    display: flex;
    justify-content: center;
}

/* Header Section */

header {
    background-color: #1f2937;
    padding: 20px;
    align-items: center;
}

nav {
    display: flex;
    column-gap: 20px;
}

/* Hero Main Section */ 