
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 0 100px 0 100px;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

nav {
    display: flex;
    column-gap: 20px;
}

a:link,
a:hover,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}